@charset "UTF-8";

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.625rem;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1) translate(0, -50%);
      -ms-transform: scale(1) translate(0, -50%);
          transform: scale(1) translate(0, -50%);
}

.checkbox__input._form-error + .checkbox__label:before {
  border-color: red;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 10px;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #a7a9ac;
}

.checkbox__label::after {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background: rgb(241, 201, 166);
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 3px;
  -webkit-transform: scale(0) translate(0, -50%);
      -ms-transform: scale(0) translate(0, -50%);
          transform: scale(0) translate(0, -50%);
}

.checkbox__text {
  font-size: 0.875rem;
  line-height: 1.1;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__item:not(:last-child) {
  margin-bottom: 0.3125em;
}

.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.options__input:focus + .options__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.options__input:checked + .options__label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  gap: 10px;
}

.options__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  border-radius: 50%;
  border: 1px solid #a7a9ac;
}

.options__label:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  left: 5px;
  top: 5px;
}

.select {
  position: relative;
}

.select:not(:last-child) {
  margin-bottom: 1.25rem;
}

.select__body {
  position: relative;
}

.select__title {
  padding: 0.3125rem 0;
  color: inherit;
  text-align: left;
  border: 0.0625rem solid rgba(0, 0, 0, 0.75);
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  position: relative;
}

.select__title::before {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  content: "➤";
  width: 0.5625rem;
  height: 0.5625rem;
  line-height: 1;
  color: rgba(0, 0, 0, 0.384);
  position: absolute;
  right: 2%;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(0);
      -ms-transform: translate(0, -50%) rotate(0);
          transform: translate(0, -50%) rotate(0);
  font-size: 0.5625rem;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  margin-top: 7px;
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  border-top: 0;
  padding: 0 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: inherit;
  background-color: #fff;
  border-top: 0;
  padding: 0.625rem 0.625rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
}

.select__option:nth-child(2) {
  border-top: 2px solid #000;
}

.select__option._select-selected {
  background-color: #fff;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

.select._select-open .select__title::before {
  -webkit-transform: rotate(90deg) translate(-50%, 0);
      -ms-transform: rotate(90deg) translate(-50%, 0);
          transform: rotate(90deg) translate(-50%, 0);
}

._select-tag {
  cursor: pointer;
}

.qs-datepicker-container {
  margin: 5px;
  font-size: 1rem;
  font-family: sans-serif;
  color: #000;
  position: absolute;
  width: 15.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 9001;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  background: #000;
  -webkit-box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
  box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
  border-right: 1px solid #fff;
  border-left: 1px solid #f1ad70;
  padding: 5px;
}

.qs-datepicker-container:before,
.qs-datepicker-container:after {
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  z-index: 2;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, from(#f1ad70), to(#fffdf2));
  background-image: -o-linear-gradient(left, #f1ad70 0%, #fffdf2 100%);
  background-image: linear-gradient(to right, #f1ad70 0%, #fffdf2 100%);
}

.qs-datepicker-container:before {
  top: 0;
}

.qs-datepicker-container:after {
  bottom: 0;
}

.qs-datepicker-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qs-datepicker-container.qs-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.qs-datepicker-container.qs-hidden {
  display: none;
}

.qs-datepicker .qs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.qs-datepicker .qs-overlay.qs-hidden {
  opacity: 0;
  z-index: -1;
}

.qs-datepicker .qs-overlay .qs-overlay-year {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: 0.875em;
  padding: 0.25em 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.qs-datepicker .qs-overlay .qs-overlay-year::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.qs-datepicker .qs-overlay .qs-close {
  padding: 0.5em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.qs-datepicker .qs-overlay .qs-submit {
  border: 1px solid #fff;
  border-radius: 0.26392em;
  padding: 0.5em;
  margin: 0 auto auto;
  cursor: pointer;
  background: hsla(0deg, 0%, 50.2%, 0.4);
}

.qs-datepicker .qs-overlay .qs-submit.qs-disabled {
  color: grey;
  border-color: grey;
  cursor: not-allowed;
}

.qs-datepicker .qs-overlay .qs-overlay-month-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.qs-datepicker .qs-overlay .qs-overlay-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33.33333%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.qs-datepicker .qs-overlay .qs-overlay-month.active,
.qs-datepicker .qs-overlay .qs-overlay-month:hover {
  opacity: 1;
}

.qs-datepicker .qs-controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #000;
  color: #fff;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-controls.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.qs-datepicker .qs-arrow {
  height: 1.5625em;
  width: 1.5625em;
  position: relative;
  cursor: pointer;
  border-radius: 0.26392em;
  -webkit-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
}

.qs-datepicker .qs-arrow:hover {
  background: rgba(0, 0, 0, 0.1);
}

.qs-datepicker .qs-arrow:hover.qs-left:after {
  border-right-color: #000;
}

.qs-datepicker .qs-arrow:hover.qs-right:after {
  border-left-color: #000;
}

.qs-datepicker .qs-arrow:after {
  content: "";
  border: 0.39062em solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
}

.qs-datepicker .qs-arrow.qs-left:after {
  border-right-color: grey;
  right: 50%;
  -webkit-transform: translate(25%, -50%);
  -ms-transform: translate(25%, -50%);
  transform: translate(25%, -50%);
}

.qs-datepicker .qs-arrow.qs-right:after {
  border-left-color: grey;
  left: 50%;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.qs-datepicker .qs-month-year {
  font-weight: 700;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.qs-datepicker .qs-month-year:hover {
  border-bottom: 1px solid grey;
}

.qs-datepicker .qs-month-year:active:focus,
.qs-datepicker .qs-month-year:focus {
  outline: none;
}

.qs-datepicker .qs-month {
  padding-right: 0.5ex;
}

.qs-datepicker .qs-year {
  padding-left: 0.5ex;
}

.qs-datepicker .qs-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.3125em;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-squares.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.qs-datepicker .qs-square {
  width: 14.28571%;
  height: 1.5625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
  border-radius: 0.26392em;
}

.qs-datepicker .qs-square.qs-current {
  font-weight: 700;
}

.qs-datepicker .qs-square.qs-current span {
  text-decoration: underline;
}

.qs-datepicker .qs-square.qs-active {
  background: #fff;
  color: #000;
}

.qs-datepicker .qs-square.qs-range-date-start:not(.qs-range-date-6) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle {
  background: #d4ebf2;
}

.qs-datepicker .qs-square.qs-range-date-middle:not(.qs-range-date-0):not(.qs-range-date-6) {
  border-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-end:not(.qs-range-date-0),
.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-6 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.qs-datepicker .qs-square.qs-disabled span {
  opacity: 0.2;
}

.qs-datepicker .qs-square.qs-empty {
  cursor: default;
}

.qs-datepicker .qs-square.qs-disabled {
  cursor: not-allowed;
}

.qs-datepicker .qs-square.qs-day {
  cursor: default;
  font-weight: 700;
  color: grey;
}

.qs-datepicker .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background: orange;
}

.qs-datepicker .qs-event {
  position: relative;
}

.qs-datepicker .qs-event:after {
  content: "";
  position: absolute;
  width: 0.46875em;
  height: 0.46875em;
  border-radius: 50%;
  background: #07f;
  bottom: 0;
  right: 0;
}

.qs-datepicker .qs-event.qs-disabled:after,
.qs-datepicker .qs-event.qs-empty:after {
  background: #cce4ff;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: #fff29e;
}

::selection {
  background: #fff29e;
}

html {
  font-size: 14px;
  -ms-font-feature-settings: "kern" 1, "onum" 1;
  -o-font-feature-settings: "kern" 1, "onum" 1;
  -webkit-font-feature-settings: "kern" 1, "onum" 1;
          font-feature-settings: "kern" 1, "onum" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  overflow: hidden;
}

body {
  background-color: white;
  line-height: 24px;
  padding: 0;
  /* margin: 0 2rem; */
  color: #333;
  font-family: Lyon, Georgia, serif;
  margin-bottom: 5rem;
  overflow: hidden;
}

body#homepage {
  position: relative;
  background: #dfdfdf ;
  background-size: 100%;
  background-blend-mode: multiply;
}

body#homepage footer {
  border-top: none;
  margin: 0 auto;
}

div.leadimg {
  background-size: 100px 100px;
  margin: -2rem -2rem 2rem;
  height: calc(100vh - 8.5rem);
  min-height: 300px;
}

div.leadimg img {
  display: block;
  padding: 5vh;
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

footer {
  text-align: center;
  padding: 0.5rem 1rem 0;
}

header,
footer,
body#homepage{
  font-family: "Lora", Courier, monospace;
}

a {
  color: #333;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, rgba(0, 0, 0, 0.25)));
  background-image: -o-linear-gradient(transparent 50%, rgba(0, 0, 0, 0.25) 50%);
  background-image: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.25) 50%);
  background-position: 0px 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
}

a:hover {
  color: #b95b23;
}

em {
  font-style: italic;
}

article {
  margin-top: 2rem;
  padding: 0 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

article p,
article h2,
article h3 {
  margin: 0 auto;
  max-width: 30em;
  font-size: 20px;
  line-height: 30px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.001em;
  word-spacing: 0.005em;
}

article h2 {
  margin: 4rem auto;
  color: #b95b23;
}

article h2 span {
  display: block;
  color: #333;
  font-family: Courier, monospace;
  font-size: 1rem;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

article h3 {
  margin-bottom: 0;
}

article > p + p {
  text-indent: 1.5em;
}

p.block {
  text-indent: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p.caption {
  font-family: Courier, monospace;
  font-size: 1rem;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

p.backers {
  text-align: center;
}

article img {
  width: 100%;
}

article img:first-child {
  mix-blend-mode: multiply;
}

article blockquote {
  margin: 4rem auto;
  font-style: italic;
  padding: 0 5rem;
}

article blockquote cite {
  display: block;
  font-style: normal;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 0.05em;
}

article ul {
  list-style: disc;
  max-width: 35rem;
  margin: 3rem auto;
  font-family: Courier, monospace;
  font-size: 1rem;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

article ul li {
  padding-left: 1rem;
}

article h3 + ul {
  margin-top: 1rem;
}

img.art {
  display: block;
  width: calc(100% - 2rem);
  margin: 4rem 1rem;
}

p.forward {
  text-align: center;
  margin: 5rem auto 3rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 3rem;
  text-indent: 0;
}

a.nextchap {
  display: block;
  background-image: none;
  text-align: center;
}

a.nextchap img {
  max-width: 3rem;
  text-indent: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a.nextchap:hover img {
  margin-left: 1rem;
}

a.nextchap em,
a.nextchap span {
  display: block;
}

a.nextchap span {
  font-family: Courier, monospace;
  font-size: 1rem;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  text-indent: 0;
}

a.buy {
  font-family: "Lora", Courier, serif;
  font-size: 16px;
  text-decoration: none;
  background-color: black;
  color: white;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
}

a.buy:hover {
  background-image: none;
  background-color: #edcdba;
  -webkit-animation: rotation 2s infinite linear;
}

header {
  text-align: center;
  padding: 1.5rem 1rem;
  text-align: center;
  background-color: white;
  z-index: 10;
}

header h1,
header h2 {
  font-size: 1rem;
  font-weight: normal;
  display: inline;
  margin: 0;
}

header a {
  background-image: none;
}

header h1 {
  text-transform: uppercase;
}

header h2 {
  display: none;
}

nav > a {
  font-family: Courier, monospace;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

.menu-button {
  display: none;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 20px;
  position: fixed;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:before,
.menu-button:after {
  content: "";
  width: 21px;
  height: 1px;
  background: #333;
  display: block;
  position: absolute;
  left: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-button:before {
  top: 13px;
}

.menu-button:after {
  top: 22px;
}

.menu-button-open:before {
  -webkit-transform: rotate(45deg) translate(3px, 3px);
      -ms-transform: rotate(45deg) translate(3px, 3px);
          transform: rotate(45deg) translate(3px, 3px);
}

.menu-button-open:after {
  -webkit-transform: rotate(-45deg) translate(4px, -3px);
      -ms-transform: rotate(-45deg) translate(4px, -3px);
          transform: rotate(-45deg) translate(4px, -3px);
}

nav {
  text-align: center;
  background-color: white;
  margin: 4rem 0;
  padding: 3rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

nav h3 {
  font-family: Courier, monospace;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

nav h3:after {
  content: "";
  display: block;
  width: 10rem;
  border-bottom: 1px solid #ddd;
  margin: 2rem auto;
}

.toc li {
  margin: 2.5rem 1rem;
}

.toc a {
  font-size: 1.25rem;
  background-image: none;
}

.toc a span {
  display: block;
  font-size: 1rem;
  font-family: Courier, monospace;
  color: rgba(0, 0, 0, 0.5);
}

div.sublinks {
  padding-bottom: 0px;
}

div.sublinks a {
  font-family: Courier, monospace;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  display: inline-block;
  margin-right: 0.5em;
}

div.sublinks a:last-child {
  margin-right: 0;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes menu-item-animation {
  0% {
    -webkit-transform: translate(-300px, 0px);
            transform: translate(-300px, 0px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes menu-item-animation {
  0% {
    -webkit-transform: translate(-300px, 0px);
            transform: translate(-300px, 0px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

main#home div.cover {
  margin: 4em 0;
  position: relative;
}

main#home div.cover img {
  display: block;
  margin: auto;
  border-radius: 2px 1px 1px 2px;
  mix-blend-mode: normal;

}

main#home blockquote {
  text-align: center;
  margin-top: 2rem;
  max-width: 25em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  font-style: normal;
}

main#home blockquote a {
  text-transform: uppercase;
}

main#home div.cover img {
  width: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0.03);
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.shadow {
  position: absolute;
  content: "";
  right: 0;
  width: 50%;
  height: 100%;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

#flipbook {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(-54%, 0) !important;
      -ms-transform: translate(-54%, 0) !important;
          transform: translate(-54%, 0) !important;
  width: 66.11vw;
  height: 46.7468293042vw;

}

.hard {

  color: white;
  font-weight: bolder;
  background-color: #edcdba;
}
.hard2 {

  color: white;
  font-weight: bolder;
  background-color: #edcdba;
}

.hard.p2 {
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(55%, white), to(#ebebeb));
  background: -o-linear-gradient(left, white 0%, white 55%, #ebebeb 100%);
  background: linear-gradient(to right, white 0%, white 55%, #ebebeb 100%);
}

.hard.p7 {
  background: -webkit-gradient(linear, right top, left top, from(white), color-stop(55%, white), to(#ebebeb));
  background: -o-linear-gradient(right, white 0%, white 55%, #ebebeb 100%);
  background: linear-gradient(to left, white 0%, white 55%, #ebebeb 100%);
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pages {
  position: relative;
  background-color: white;
}

.pages2 {
  background: url(../img/D.webp);
  background-size: 100% 100%;
  background-color: white;
}

.footer {
  /* pos */
  bottom: 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 0px 0;
  margin-top: 2rem;
}

.txt {
  font-family: 'Lora', serif;
  position: relative;
  font-size: 25px;
}

.txt_de {

  position: relative;
  font-size: 25px;
}

.flipbook-form {
  position: relative;
  width: 75%;
  z-index: 2;
}

.flipbook-form__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flipbook-form__block:not(:last-child) {
  margin-bottom: 0.75rem;
}

.flipbook-form__inputname {
  width: 48%;
}

.flipbook-form__inputname_tel-email {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
}

.flipbook-form__inputname_tel-email ._email {
  display: none;
}

.flipbook-form__inputname_tel-email._email ._email {
  display: block;
}

.flipbook-form__inputname_tel-email._email ._tel {
  display: none;
}

.flipbook-form__inputname_tel-email._tel ._email {
  display: none;
}

.flipbook-form__inputname_tel-email._tel ._tel {
  display: block;
}

.flipbook-form label {
  font-size: 1.125rem;
}

.flipbook-form__input {
  padding: 0.625rem 0.3125rem;
  background-color: transparent;
  width: 100%;
  font-size: 1rem;
  color: #000;
  border: none;
  border: 0.125rem solid transparent;
  border-bottom: 0.125rem solid #000;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.flipbook-form__input:not(:last-child) {
  margin-bottom: 1.25rem;
}

.flipbook-form__input._tel,
.flipbook-form__input._email {
  margin-bottom: 0;
}

.flipbook-form__input:focus {
  -webkit-box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
  border: 0.125rem solid #000;
}

.flipbook-form__input._form-error {
  border-color: red;
  -webkit-box-shadow: 0 0 0.125rem red;
          box-shadow: 0 0 0.125rem red;
}

.flipbook-form__textarea {
  resize: none;
  width: 100%;
  min-height: 12.5rem;
  border: 0.125rem solid #000;
  color: #000;
  padding: 0.625rem 0.9375rem;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.flipbook-form__textarea:focus {
  -webkit-box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
}

.flipbook-form__textarea._form-error {
  border-color: red;
  -webkit-box-shadow: 0 0 0.125rem red;
          box-shadow: 0 0 0.125rem red;
}

.flipbook-form__textarea:not(:last-child) {
  margin-bottom: 1.25rem;
}

.flipbook-form__button {
  color: #fff;
  width: 100%;
  padding: 0.625rem 1.25rem;
  background-color: rgb(241, 201, 166);
  border-radius: 0.3125rem;
}
.labels{
  position: absolute;
  top: -90%;
  left: 0;
  font-size: 11px;
  line-height: 1.15;
}
.svasok{
  display: block;
  white-space: nowrap;
  margin-bottom: 10px
}


@media (min-width: 500px) {
  header h2 {
    display: inline;
  }

  header h2:before {
    content: " · ";
  }
}

@media (min-width: 900px) and (max-height: 600px) {
  header h2 {
    display: none;
  }
}

@media (min-width: 900px) {
  html {
    margin-left: 4.5rem;
  }

  div.leadimg {
    margin-left: -4.5rem;
    height: calc(100vh - 6rem);
  }

  a.buy {
    right: 2rem;
    top: 2rem;
    width: 5em;
    height: 5em;
  }

  header {
    position: fixed;
    top: 0;
    left: -2rem;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 7rem;
    border-right: 1px solid #eee;
  }

  header > div {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
    position: absolute;
    left: 5rem;
    top: calc(50vh - 12rem);
    line-height: 1;
    width: 24rem;
    height: 2em;
  }

  .menu-button {
    display: block;
    margin-left: 2px;
  }

  .menu-items {
    position: fixed;
    top: 0;
    bottom: 0;
    left: calc(5rem - 440px);
    margin: 0;
    max-width: 300px;
    z-index: 20;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-right: 1px solid #f0f0f0;
    border-top: none;
    border-bottom: none;
    overflow-y: auto;
  }

  .menu-items-open {
    left: 5rem;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  footer {
    /* pos*/
    position: relative;
    /* max-width: 43rem; */
    margin: 0 auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 4rem 1rem 0;
  }

  body#homepage {
    margin-bottom: 0;
    overflow: hidden;
  }

  body#homepage footer {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
  }

  main#home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: calc(100vh - 9rem);
    /* margin: 0 auto;
    max-width: 70rem; */
    width: 100%;
  }

  main#home blockquote {
    /* width: 25%; */
  }

  main#home blockquote:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  main#home div.cover {
    width: calc(40% + 4rem);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0 2rem;

  }

  main#home blockquote:last-child {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (min-width: 1200px) {
  body:not(#homepage) {
    margin-left: calc(50vw - 5rem);
    padding: 4rem 2rem 0;
  }

  div.leadimg {
    background-size: 100px 100px;
    position: fixed;
    left: 5rem;
    top: 0;
    bottom: 0;
    height: 100vh;
    margin: 0;
    width: calc(50vw - 5rem);
    background-color: #fff;
  }

  div.leadimg img {
    display: block;
    padding: 2rem;
    width: 100%;
    height: 100vh;
    -o-object-fit: scale-down;
    object-fit: scale-down;
  }

  footer {
    margin: 4rem 2rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 4rem 1rem 0;
  }

  main#home div.cover {
    /* width: calc(50% + 4rem); */
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0 2rem;
  }
  a.buy {
    right: 2rem;
    top: 2rem;
    width: 6em;
    height: 6em;
  }
}

@media (max-width: 1600px) {
  #flipbook {
    width: 75vw;
    height: 53.033008589vw;
  }
  a.buy {
    right: 2rem;
    top: 2rem;
    width: 6em;
    height: 6em;
  }
}

@media (max-width: 1250px) {
  .flipbook-form {
    width: 65%;
    margin-top: 3rem;
  }
  .flipbook-form__button {
    color: #fff;
    width: 100%;
    padding: 0.625rem 1.25rem;
    background-color: rgb(241, 201, 166);
    border-radius: 0.3125rem;
  }
  a.buy {
    right: 2rem;
    top: 2rem;
    width: 6em;
    height: 6em;
  }
  .flipbook-form {
    margin: 50px 10px;
    position: relative;
    width: 75%;
    z-index: 2;
  }

  .flipbook-form__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flipbook-form__block:not(:last-child) {
    margin-bottom: 1rem;
  }

  .flipbook-form__inputname {
    width: 48%;
  }

  .flipbook-form__inputname_tel-email {
    -ms-flex-item-align: end;
    align-self: flex-end;
    position: relative;
  }

  .flipbook-form__inputname_tel-email ._email {
    display: none;
  }

  .flipbook-form__inputname_tel-email._email ._email {
    display: block;
  }

  .flipbook-form__inputname_tel-email._email ._tel {
    display: none;
  }

  .flipbook-form__inputname_tel-email._tel ._email {
    display: none;
  }

  .flipbook-form__inputname_tel-email._tel ._tel {
    display: block;
  }

  .flipbook-form label {
    font-size: 0.8rem;
  }

  .flipbook-form__input {
    padding: 0.1rem 0.05rem;
    background-color: transparent;
    width: 100%;
    font-size: 0.8rem;
    color: #000;
    border: none;
    border: 0.125rem solid transparent;
    border-bottom: 0.125rem solid #000;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .flipbook-form__input:not(:last-child) {
    margin-bottom: 1rem;
  }

  .flipbook-form__input._tel,
  .flipbook-form__input._email {
    margin-bottom: 0;
  }

  .flipbook-form__input:focus {
    -webkit-box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    border: 0.125rem solid #000;
  }

  .flipbook-form__input._form-error {
    border-color: red;
    -webkit-box-shadow: 0 0 0.125rem red;
    box-shadow: 0 0 0.125rem red;
  }

  .flipbook-form__textarea {
    resize: none;
    width: 100%;
    min-height: 2.5rem;
    border: 0.125rem solid #000;
    color: #000;
    padding: 0.625rem 0.9375rem;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .flipbook-form__textarea:focus {
    -webkit-box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
  }

  .flipbook-form__textarea._form-error {
    border-color: red;
    -webkit-box-shadow: 0 0 0.125rem red;
    box-shadow: 0 0 0.125rem red;
  }

  .flipbook-form__textarea:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .flipbook-form__button {
    color: #fff;
    width: 100%;
    padding: 0.625rem 1.25rem;
    background-color: rgb(241, 201, 166);
    border-radius: 0.3125rem;
  }
  .labels{
    position: absolute;
    top: -110%;
    left: 0;
    font-size: 0.7rem;
    line-height: 1;
  }
  .checkbox:not(:last-child) {
    margin-bottom: 0.1rem;
  }
  .svasok{
    display: block;
    white-space: nowrap;
    margin-bottom: 0px
  }
  .select__body {
    position: relative;
  }

  .select__title {
    padding: 0.3125rem 0;
    color: inherit;
    text-align: left;
    border: 0.0625rem solid rgba(0, 0, 0, 0.75);
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    position: relative;
  }
  .select:not(:last-child) {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 1160px) {
  nav {
    padding: 2rem;
  }
}

@media (max-width: 900px) {
  article {
    margin-top: 2rem;
    padding: 0 2rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    height: 75vh;
  }

  header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .menu-button {
    top: 15px;
  }

  main#home blockquote {
    margin: 0 auto;
    padding: 0;
  }

  .menu-button {
    display: block;
    margin-left: 2px;
  }

  .menu-items {
    position: fixed;
    top: 0;
    bottom: 0;
    left: calc(5rem - 350px);
    margin: 0;
    max-width: 300px;
    z-index: 20;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-right: 1px solid #f0f0f0;
    border-top: none;
    border-bottom: none;
    overflow-y: auto;
  }

  .menu-items-open {
    left: 0rem;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  body {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  #flipbook {
    left: 50%;
    -webkit-transform: translate(-50%, 0) !important;
        -ms-transform: translate(-50%, 0) !important;
            transform: translate(-50%, 0) !important;
    width: 90vw;
    height: 63.6396103068vw;
  }
  .flipbook-form {
    width: 90%;
    margin-top: 0rem;
  }
  .flipbook-form__button {
    color: #fff;
    width: 80%;
    padding: 0.625rem 1.25rem;
    background-color: rgb(241, 201, 166);
    border-radius: 0.3125rem;
  }
  .flipbook-form {
    margin: 50px 10px;
    position: relative;
    width: 75%;
    z-index: 2;
  }

  .flipbook-form__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flipbook-form__block:not(:last-child) {
    margin-bottom: 1rem;
  }

  .flipbook-form__inputname {
    width: 48%;
  }

  .flipbook-form__inputname_tel-email {
    -ms-flex-item-align: end;
    align-self: flex-end;
    position: relative;
  }

  .flipbook-form__inputname_tel-email ._email {
    display: none;
  }

  .flipbook-form__inputname_tel-email._email ._email {
    display: block;
  }

  .flipbook-form__inputname_tel-email._email ._tel {
    display: none;
  }

  .flipbook-form__inputname_tel-email._tel ._email {
    display: none;
  }

  .flipbook-form__inputname_tel-email._tel ._tel {
    display: block;
  }

  .flipbook-form label {
    font-size: 0.8rem;
  }

  .flipbook-form__input {
    padding: 0.1rem 0.05rem;
    background-color: transparent;
    width: 100%;
    font-size: 0.8rem;
    color: #000;
    border: none;
    border: 0.125rem solid transparent;
    border-bottom: 0.125rem solid #000;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .flipbook-form__input:not(:last-child) {
    margin-bottom: 1rem;
  }

  .flipbook-form__input._tel,
  .flipbook-form__input._email {
    margin-bottom: 0;
  }

  .flipbook-form__input:focus {
    -webkit-box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    border: 0.125rem solid #000;
  }

  .flipbook-form__input._form-error {
    border-color: red;
    -webkit-box-shadow: 0 0 0.125rem red;
    box-shadow: 0 0 0.125rem red;
  }

  .flipbook-form__textarea {
    resize: none;
    width: 100%;
    min-height: 2.5rem;
    border: 0.125rem solid #000;
    color: #000;
    padding: 0.625rem 0.9375rem;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .flipbook-form__textarea:focus {
    -webkit-box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
  }

  .flipbook-form__textarea._form-error {
    border-color: red;
    -webkit-box-shadow: 0 0 0.125rem red;
    box-shadow: 0 0 0.125rem red;
  }

  .flipbook-form__textarea:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .flipbook-form__button {
    color: #fff;
    width: 100%;
    padding: 0.625rem 1.25rem;
    background-color: rgb(241, 201, 166);
    border-radius: 0.3125rem;
  }
  .labels{
    position: absolute;
    top: -110%;
    left: 0;
    font-size: 0.7rem;
    line-height: 1;
  }
  .checkbox:not(:last-child) {
    margin-bottom: 0.1rem;
  }
  .svasok{
    display: block;
    white-space: nowrap;
    margin-bottom: 0px
  }
  .select__body {
    position: relative;
  }

  .select__title {
    padding: 0.3125rem 0;
    color: inherit;
    text-align: left;
    border: 0.0625rem solid rgba(0, 0, 0, 0.75);
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    position: relative;
  }
  .select:not(:last-child) {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 800px) {
  body {
    margin: 0;
  }
  .flipbook-form {
    width: 90%;
    margin-top: 0rem;
  }
  .flipbook-form__button {
    color: #fff;
    width: 80%;
    padding: 0.625rem 1.25rem;
    background-color: rgb(241, 201, 166);
    border-radius: 0.3125rem;
  }
  .flipbook-form {
    margin: 50px 10px;
    position: relative;
    width: 75%;
    z-index: 2;
  }

  .flipbook-form__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flipbook-form__block:not(:last-child) {
    margin-bottom: 0.1rem;
  }

  .flipbook-form__inputname {
    width: 48%;
  }

  .flipbook-form__inputname_tel-email {
    -ms-flex-item-align: end;
    align-self: flex-end;
    position: relative;
  }

  .flipbook-form__inputname_tel-email ._email {
    display: none;
  }

  .flipbook-form__inputname_tel-email._email ._email {
    display: block;
  }

  .flipbook-form__inputname_tel-email._email ._tel {
    display: none;
  }

  .flipbook-form__inputname_tel-email._tel ._email {
    display: none;
  }

  .flipbook-form__inputname_tel-email._tel ._tel {
    display: block;
  }

  .flipbook-form label {
    font-size: 0.7rem;
  }

  .flipbook-form__input {
    padding: 0.1rem 0.05rem;
    background-color: transparent;
    width: 100%;
    font-size: 0.8rem;
    color: #000;
    border: none;
    border: 0.125rem solid transparent;
    border-bottom: 0.125rem solid #000;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .flipbook-form__input:not(:last-child) {
    margin-bottom: 0.2rem;
  }

  .flipbook-form__input._tel,
  .flipbook-form__input._email {
    margin-bottom: 0;
  }

  .flipbook-form__input:focus {
    -webkit-box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    border: 0.125rem solid #000;
  }

  .flipbook-form__input._form-error {
    border-color: red;
    -webkit-box-shadow: 0 0 0.125rem red;
    box-shadow: 0 0 0.125rem red;
  }

  .flipbook-form__textarea {
    resize: none;
    width: 100%;
    min-height: 2.5rem;
    border: 0.125rem solid #000;
    color: #000;
    padding: 0.625rem 0.9375rem;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .flipbook-form__textarea:focus {
    -webkit-box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
  }

  .flipbook-form__textarea._form-error {
    border-color: red;
    -webkit-box-shadow: 0 0 0.125rem red;
    box-shadow: 0 0 0.125rem red;
  }

  .flipbook-form__textarea:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .flipbook-form__button {
    color: #fff;
    width: 100%;
    padding: 0.625rem 1.25rem;
    background-color: rgb(241, 201, 166);
    border-radius: 0.3125rem;
  }
  .labels{
    position: absolute;
    top: -110%;
    left: 0;
    font-size: 0.7rem;
    line-height: 1;
  }
  .checkbox:not(:last-child) {
    margin-bottom: 0.1rem;
  }
  .svasok{
    display: block;
    white-space: nowrap;
    margin-bottom: 0px
  }
  .select__body {
    position: relative;
  }

  .select__title {
    padding: 0.3125rem 0;
    color: inherit;
    text-align: left;
    border: 0.0625rem solid rgba(0, 0, 0, 0.75);
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    position: relative;
  }
  .select:not(:last-child) {
    margin-bottom: 0.3rem;
  }
}

@media (max-width: 600px) {
  article {
    margin-top: 1rem;
  }

  .menu-button {
    top: 2px;
  }

  main#home div.cover {
    margin: 1em 0;
  }

  article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }

  #flipbook {
    width: 85vw;
    height: 120.2081528017vw;
  }

  main#home blockquote {
    line-height: 1.25;
    font-size: 0.875rem;
  }

  body#homepage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer {
    padding-top: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }

  .txt {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  #flipbook {
    width: 90vw;
    height: 127.2792206136vw;
  }
  main#home blockquote {
    line-height: 1;
    font-size: 0.8rem;
  }
  a.buy {
    font-family: "Lora", Courier, monospace;
    font-size: 10px;
    background-color: #edcdba;
    color: #3d3d3d;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    right: 1rem;
    top: 1.5rem;
  }

  a.buy:hover {
    background-image: none;
    background-color: #edcdba;
    -webkit-animation: rotation 5s infinite linear;
  }
  .flipbook-form {
    width: 90%;
    margin-top: 0rem;
  }
  .flipbook-form__button {
    color: #fff;
    width: 80%;
    padding: 0.625rem 1.25rem;
    background-color: rgb(241, 201, 166);
    border-radius: 0.3125rem;
  }
  .flipbook-form {
    margin: 50px 10px;
    position: relative;
    width: 75%;
    z-index: 2;
  }

  .flipbook-form__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flipbook-form__block:not(:last-child) {
    margin-bottom: 0.1rem;
  }

  .flipbook-form__inputname {
    width: 48%;
  }

  .flipbook-form__inputname_tel-email {
    -ms-flex-item-align: end;
    align-self: flex-end;
    position: relative;
  }

  .flipbook-form__inputname_tel-email ._email {
    display: none;
  }

  .flipbook-form__inputname_tel-email._email ._email {
    display: block;
  }

  .flipbook-form__inputname_tel-email._email ._tel {
    display: none;
  }

  .flipbook-form__inputname_tel-email._tel ._email {
    display: none;
  }

  .flipbook-form__inputname_tel-email._tel ._tel {
    display: block;
  }

  .flipbook-form label {
    font-size: 0.7rem;
  }

  .flipbook-form__input {
    padding: 0.1rem 0.05rem;
    background-color: transparent;
    width: 100%;
    font-size: 0.8rem;
    color: #000;
    border: none;
    border: 0.125rem solid transparent;
    border-bottom: 0.125rem solid #000;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .flipbook-form__input:not(:last-child) {
    margin-bottom: 0.2rem;
  }

  .flipbook-form__input._tel,
  .flipbook-form__input._email {
    margin-bottom: 0;
  }

  .flipbook-form__input:focus {
    -webkit-box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    border: 0.125rem solid #000;
  }

  .flipbook-form__input._form-error {
    border-color: red;
    -webkit-box-shadow: 0 0 0.125rem red;
    box-shadow: 0 0 0.125rem red;
  }

  .flipbook-form__textarea {
    resize: none;
    width: 100%;
    min-height: 2.5rem;
    border: 0.125rem solid #000;
    color: #000;
    padding: 0.625rem 0.9375rem;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .flipbook-form__textarea:focus {
    -webkit-box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
  }

  .flipbook-form__textarea._form-error {
    border-color: red;
    -webkit-box-shadow: 0 0 0.125rem red;
    box-shadow: 0 0 0.125rem red;
  }

  .flipbook-form__textarea:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .flipbook-form__button {
    color: #fff;
    width: 100%;
    padding: 0.625rem 1.25rem;
    background-color: rgb(241, 201, 166);
    border-radius: 0.3125rem;
  }
  .labels{
    position: absolute;
    top: -110%;
    left: 0;
    font-size: 0.7rem;
    line-height: 1;
  }
  .checkbox:not(:last-child) {
    margin-bottom: 0.1rem;
  }
  .svasok{
    display: block;
    white-space: nowrap;
    margin-bottom: 0px
  }
  .select__body {
    position: relative;
  }

  .select__title {
    padding: 0.3125rem 0;
    color: inherit;
    text-align: left;
    border: 0.0625rem solid rgba(0, 0, 0, 0.75);
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    position: relative;
  }
  .select:not(:last-child) {
    margin-bottom: 0.3rem;
  }
}

@media (max-width: 320px) {
  #flipbook {
    width: 90vw;
    height: 127.2792206136vw;
  }

  main#home blockquote {
    line-height: 1;
    font-size: 0.8rem;
  }

  a.buy {
    font-family: "Lora", Courier, monospace;
    font-size: 8px;
    background-color: #edcdba;
    color: #3d3d3d;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    right: 1rem;
    top: 1.5rem;
  }

  a.buy:hover {
    background-image: none;
    background-color: #edcdba;
    -webkit-animation: rotation 5s infinite linear;
  }
  .flipbook-form {
    width: 90%;
    margin-top: 0rem;
  }
  .flipbook-form__button {
    color: #fff;
    width: 80%;
    padding: 0.625rem 1.25rem;
    background-color: rgb(241, 201, 166);
    border-radius: 0.3125rem;
  }
  .flipbook-form {
    margin: 50px 10px;
    position: relative;
    width: 75%;
    z-index: 2;
  }

  .flipbook-form__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flipbook-form__block:not(:last-child) {
    margin-bottom: 0.1rem;
  }

  .flipbook-form__inputname {
    width: 48%;
  }

  .flipbook-form__inputname_tel-email {
    -ms-flex-item-align: end;
    align-self: flex-end;
    position: relative;
  }

  .flipbook-form__inputname_tel-email ._email {
    display: none;
  }

  .flipbook-form__inputname_tel-email._email ._email {
    display: block;
  }

  .flipbook-form__inputname_tel-email._email ._tel {
    display: none;
  }

  .flipbook-form__inputname_tel-email._tel ._email {
    display: none;
  }

  .flipbook-form__inputname_tel-email._tel ._tel {
    display: block;
  }

  .flipbook-form label {
    font-size: 0.7rem;
  }

  .flipbook-form__input {
    padding: 0.1rem 0.05rem;
    background-color: transparent;
    width: 100%;
    font-size: 0.8rem;
    color: #000;
    border: none;
    border: 0.125rem solid transparent;
    border-bottom: 0.125rem solid #000;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .flipbook-form__input:not(:last-child) {
    margin-bottom: 0.2rem;
  }

  .flipbook-form__input._tel,
  .flipbook-form__input._email {
    margin-bottom: 0;
  }

  .flipbook-form__input:focus {
    -webkit-box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    border: 0.125rem solid #000;
  }

  .flipbook-form__input._form-error {
    border-color: red;
    -webkit-box-shadow: 0 0 0.125rem red;
    box-shadow: 0 0 0.125rem red;
  }

  .flipbook-form__textarea {
    resize: none;
    width: 100%;
    min-height: 2.5rem;
    border: 0.125rem solid #000;
    color: #000;
    padding: 0.625rem 0.9375rem;
    outline: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .flipbook-form__textarea:focus {
    -webkit-box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
  }

  .flipbook-form__textarea._form-error {
    border-color: red;
    -webkit-box-shadow: 0 0 0.125rem red;
    box-shadow: 0 0 0.125rem red;
  }

  .flipbook-form__textarea:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .flipbook-form__button {
    color: #fff;
    width: 100%;
    padding: 0.625rem 1.25rem;
    background-color: rgb(241, 201, 166);
    border-radius: 0.3125rem;
  }
  .labels{
    position: absolute;
    top: -110%;
    left: 0;
    font-size: 0.7rem;
    line-height: 1;
  }
  .checkbox:not(:last-child) {
    margin-bottom: 0.1rem;
  }
  .svasok{
    display: block;
    white-space: nowrap;
    margin-bottom: 0px
  }
  .select__body {
    position: relative;
  }

  .select__title {
    padding: 0.3125rem 0;
    color: inherit;
    text-align: left;
    border: 0.0625rem solid rgba(0, 0, 0, 0.75);
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    position: relative;
  }
  .select:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (max-width: 37.5em) {
  header {
    padding: 0.625rem 1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (max-width: 25.9375em) {
  .pages.even::after,
  .pages.even::before,
  .pages.odd::after,
  .pages.odd::before {
    width: 10%;
    height: 7.5%;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}
#particle-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff7f3;
}
/* preloader */
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/preloader.gif) no-repeat 50% 50%; /*расположение (url) изображения gif и др. параметры*/
}

.loaded_hiding .preloader {
  transition: 20s opacity;
  opacity: 60%;
}

.loaded .preloader {
  display: none;
}
